<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionResource" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg name="path" value="questions.csv"/>
    </bean>

    <bean id="questionDao" class="ru.otus.homework.dao.QuestionDaoCsv">
        <constructor-arg name="csvFile" ref="questionResource"/>
        <constructor-arg name="hasHeader" value="true"/>
    </bean>

    <bean id="questionPrinterService" class="ru.otus.homework.service.SimpleQuestionsPrinterService">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

</beans>
